@import "tailwindcss";


*{
  box-sizing: border-box;
}

body,html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #F0F0F0;
}

.smooth-scroll {
scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
  background: none;
}


::selection{
  background-color:#242627;
  color: white;
}